<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StoreInventoryBussinessLayer.Properties.Settings.StoreInventoryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=StoreInventory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>